.alabama{
    color: crimson;
}

.notredame{
    color: green;
}

.michigan{
color: #F2C83F;
}

.ohio{
color: red;
}

.okc{
color: crimson;
}

.sc{
color: red;
}

.texas{
color: orange;
}

.miami{
color: green;

}

.neb{
color: red;

}

.green{
    background-color: green;
    color: white;
}

.red{
    background-color: red;
    color: white;
}